@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* reset css */
/*모든태그는 기본 css값이 있는데 초기화 해야 한다*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* 모든 태그(*)에 바깥여백, 안쪽여백 0으로초기화, 가로폭안에 실제
크기값을 포함 시킨다 */
body {
	font-family: "Nanum Gothic", sans-serif;
}

ul, ol { /* 목록태그 */
	list-style: none; /* 목록을 사용 안 하겠다 */
}

a {
	text-decoration: none; /* 밑줄 생략 */
	color: #333; /* 글자 색상 */
}

a:hover {
	text-decoration: underline; /* 밑줄 */
}

table, th, td {
	border-collapse: collapse;
} /*셀과 셀사이 붙이기*/
fieldset {
	border: 0 none;
}

html, body {
	height: 100%;
}